<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h3>Edit Your Listing</h3>
    <form
      method="POST"
      action="/listings/<%=listing._id %>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input
          type="text"
          id="title"
          name="listing[title]"
          value="<%= listing.title%>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter the Title</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea name="listing[description]" class="form-control" required>
 <%= listing.description%></textarea
        >
        <div class="invalid-feedback">Please enter short Description</div>
      </div>

      <div class="mb-3">
        Original Listing Image<br />
        <img src="<%= originalImageUrl %>" />
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload New Image:</label>
        <input
          type="file"
          id="image"
          name="listing[image]"
          class="form-control"
        />
      </div>

      <!-- <div class="mb-3">
        <label for="price" class="form-label">Price:</label>
        <input
          type="number"
          id="price"
          name="listing[price]"
          
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter price</div>
      </div> -->
      <div class="row">
        <div class="mb-3 col-md-8">
          <label for="price" class="form-label">Price:</label>
          <input
            type="number"
            id="price"
            name="listing[price]"
            value="<%=
      listing.price%>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter valid Price</div>
        </div>

        <div class="mb-3 col-md-4">
          <label for="category" class="form-label">Category:</label>
          <select
            name="listing[category]"
            id="category"
            value="<%=
      listing.category%>"
            class="form-control"
            required
          >
            <option value="Houses">Houses</option>
            <option value="Iconic cities">Iconic cities</option>
            <option value="Beach">Beach</option>
            <option value="Mountain">Mountain</option>
            <option value="Castles">Castles</option>
            <option value="Pools">Pools</option>
            <option value="Camping">Camping</option>
            <option value="Arctic">Arctic</option>
            <option value="Farms">Farms</option>
            <option value="Boats">Boats</option>
            <option value="Pet Rentals">Pet Rentals</option>
          </select>
          <div class="invalid-feedback">Please select the Category</div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-8">
          <label for="location" class="form-label">Location:</label>
          <input
            type="text"
            id="location"
            name="listing[location]"
            value="<%=
      listing.location%>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter location</div>
        </div>

        <div class="mb-3 col-md-4">
          <label for="country" class="form-label">Country:</label>
          <input
            type="text"
            id="country"
            name="listing[country]"
            value="<%=
      listing.country%>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter Country</div>
        </div>
      </div>

      <br />
      <button type="submit" class="btn btn-dark edit-btn">Save Changes</button>
      <br /><br />
    </form>
  </div>
</div>
